body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.active {
  background: #8d878d; /* Old browsers */
  background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */

  color: whitesmoke;
}

/* Flex styles -------------------------------------------------*/
header {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 10px;
  font-size: 2em;
  color: white;
  background-color: #333;
}

.leading {
  height: rem;
  margin-bottom: 30px;
  padding: 30px;
  color: white;
  background-size: cover;
  text-shadow: 0px 0px 5px #000;
}

.leading-bigtext {
  margin-right: 60px;
  font-weight: bold;
  font-size: 8rem;
}

.leading h1,
.leading p {
  color: white;
  text-align: left;
}

.leading p {
  display: none;
}

.leading a {
  color: lightsalmon;
  text-decoration: underline;
}

.leading a:hover {
  color: lightgreen;
  text-decoration: wavy;
}

@media (min-width: 700px) {
  .leading-bigext {
    font-size: 8rem;
  }

  .leading {
    display: flex;
    align-items: center;
  }
  
  .leading p {
    font-size: 2rem;
    display: inline-block;
  }
}

.leading-text {
  max-width: 900px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.error-text {
  color: red;
  font-weight: 600;
}

.filters {
  display: flex;
  color: white;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.filters label {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.filters input {
  width: 10rem;
  height: 2.2rem;
  margin-bottom: 0.5rem;
}

section {
  padding: 1rem;
}

main {
  background-color:lavenderblush;
  width: 95vw;
  margin: 1rem auto;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  min-height: 10vh;
  background-color: #333;
  text-align: center;
}
footer p {
  margin: 0;
}

.breed-showcase {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgb(223, 223, 197);
}

.mason-cat {
  min-width: 300px;
  max-width: 450px;
  width: 95%;
  padding: 1rem;
}

.pagination {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem auto;
}

.pagination p {
  color: white;
  width: 100%;
}

.wrapper {
  display: grid;
  margin: 1rem 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  background-color: #fff;
  color: gray;
}

.spinner {
  position: absolute;
  top: calc(100vh*0.66);
  left: calc(100vw/2);
  z-index: 10;
}

main .container header h1 {
  font-family: Nunito;
  font-size: 1.5rem;
  text-align: left;
}

main .img-container {
  width: 100%;
  margin-top: 5%;
  padding: 2em 0;
}

main .img-container .cat-img {
  display: none;
  width: 80%;
  margin: 1em auto;
}

main .img-container .show {
  display: block;
}
/* 
/* media query */
/* 
@media only screen and (min-width: 320px) {
  .container header {
    display: flex;
    flex-direction: column;
  }
  .container header h1 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 650px) {
  .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 875px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 70%;
    margin: 0 auto;
  }
} */
